<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <p id="show_Brand"> Brand = {{brand}}</p>
        <p id="show_warranty"> Warranty = {{warranty}}</p>
        <p id="show_attachmentType"> Attachment Type = {{attachmentType}}</p>
        <p id="show_insulationValue"> Insulation Value = {{insulationValue}}</p>
        <p id="show_deckAreaSqf"> Deck SQF = {{deckAreaSqf}}</p>
        <p id="show_parapetAreSqf"> Parapet SQF = {{parapetAreSqf}}</p>
        <p id="show_deckType"> Deck Type = {{deckType}}</p>

        <p>&nbsp;</p>
      </div>
      <div class="col-2">
        <p id="show_rtuLFT"> RTU's LFT = {{rtuLFT}}</p>
        <p id="show_outsideCorners"> Outside Corners = {{outsideCorners}}</p>
        <p id="show_splitBoots"> Split Boots = {{splitBoots}}</p>
        <p id="show_closeBoots"> Close Boots = {{closeBoots}}</p>
        <p id="show_pitchPockets"> Pitch Pockets = {{pitchPockets}}</p>
        <p id="show_copingMetalStretch"> Coping Metal Stretch = {{copingMetalStretch}}</p>
        <p>&nbsp;</p>
      </div>
      <div class="col-2">
        <p id="show_downSpoutLFT"> Down Spout LFT = {{downSpoutLFT}}</p>
        <p id="show_collectorHeadCount"> Collector Heads = {{collectorHeadCount}}</p>
        <p id="show_drains"> Drains = {{drains}}</p>
        <p id="show_membraneStretch"> Membrane Stretch = {{membraneStretch}}</p>
        <p id="show_membraneThickness"> Membrane Thickness = {{membraneThickness}}</p>
        <p>&nbsp;</p>
      </div>
      <div class="col-2">

        <p id="show_deckSQ"> Deck SQ = {{deckSQ}}</p>
        <p id="show_parapetSQ">Parapet SQ = {{parapetSQ}}</p>
        <p id="show_totalSQ">Total Roof SQ = {{totalRoofSQ}}</p>
        <p id="show_totalRoofSqf">Total Roof SQF = {{totalRoofSqf}}</p>

        <p id="show_screwType">Screw Type = {{screwType}}</p>
        <p id="show_screwType">Parapet Screws = {{parapetMembraneScrews}}</p>

        <p>&nbsp;</p>
      </div>
      <div class="col-2">
        <p id="show_screwSize">Screw Size = {{screwSize}}</p>
        <p id="show_insulationBoardCount">Insulation Board Count = {{insulationBoardCount}}</p>

        <p id="show_insulationScrews">Insulation Screw Count = {{insulationScrewCount}}</p>
        <p id="show_insulationPlates">Insulation Plates= {{insulationScrewPlates}}</p>
        <p id="show_pictureFrameScrews">Picture Frame Screws = {{pictureFramScrews}}</p>

        <p>&nbsp;</p>
      </div>
      <div class="col-2">
        <p id="show_fieldScrews">Field Screws = {{fieldScrews}}</p>

        <p id="show_fieldRollsShow">Field Rolls = {{fieldRolls}}</p>
        <p id="show_masticShow">Mastic = {{mastic}}</p>
        <!--        <p id="show_splitBootsShow">Split Boots = {{splitBoots}}</p>-->
        <p id="show_fieldScrewsPlates">Field Screws Cleat plates = </p>
        <p id="show_terminationBarShow">Termination Bar = {{termbarCount}}</p>
        <p id="show_vents">PVC Vents = {{vents}}</p>
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-2">


      </div>
      <div class="col-2">
      </div>
      <div class="col-2">
        <p id="show_totalScrewsShow">Total Screws = {{totalScrews}}</p>
        <p id="show_closeBootsShow">Close Boot Show = {{closeBootsShow}}</p>
        <p id="show_pictureFrameRolls">Picture Frame Rolls = {{pictureFrameRolls}}</p>
        <p id="show_panduitBands"> Panduit Bands = {{panduitBands}}</p>
        <p id="show_pitchPocketFiller"> Pitch Pocket Filler = {{pitchPocketFiller}}</p>
      </div>
      <div class="col-2">
        <p id="show_wallPlates">Wall Plates = {{wallPlates}}</p>

      </div>
    </div>
  </div>


  <div class="container">
    <h2>Low Slope Roof Calculations</h2>
    <hr>
    <form action="/action_page.php" >
      <div class="row">
        <div class="col-2">
          <div class="form-group" >
            <label for="brand">Brand</label>
            <input type="text" class="form-control"  [(ngModel)]="brand" id="brand" placeholder="" name="brand">
          </div>

          <div class="form-group">
            <label for="Warranty">Membrane Type</label>
            <input type="text" class="form-control" [(ngModel)]="membraneType" (focusout)="pvcVents()" id="membraneType" placeholder="" name="membraneType">
          </div>
          <div class="form-group">
            <label for="Warranty">Warranty</label>
            <input type="text" class="form-control" [(ngModel)]="warranty" id="warranty" placeholder="" name="warranty">
          </div> <div class="form-group">
            <label for="attachmentType">Attachment Type</label>
            <input type="text" class="form-control" [(ngModel)]="attachmentType" id="attachmentType" placeholder=""
            name="attachmentType">
          </div>
          <div class="form-group">
            <label for="insulationValue">Insulation R-value</label>
            <input type="number" class="form-control" [(ngModel)]="insulationValue" id="insulationValue"
                  (focusout)="screwSizeShow()"  placeholder="Only the number for R-value"
            name="insulationValue">
          </div>
          <div class="form-group">
            <label for="deckType">Deck Type</label>
            <input type="text" class="form-control" [(ngModel)]="deckType" id="deckType"
            (focusout)="typeOfScrew()" placeholder="" name="deckType">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="membraneThickness">Membrane Thickness</label>
            <input type="number" class="form-control" [(ngModel)]="membraneThickness" id="membraneThickness"
                   placeholder=""
                   name="membraneThickness">
          </div>
          <div class="form-group">
            <label for="deckAreaSqf">Deck Area Sqf:</label>
            <input type="text" class="form-control " [(ngModel)]="deckAreaSqf" id="deckAreaSqf"
                   (focusout)="sqftoSQ(deckAreaSqf,'deckAreaSqf');totalSQF()" placeholder="" name="deckAreaSqf">
          </div>
          <div class="form-group">
            <label for="parapetAreSqf">Parapet Area Sqf</label>
            <input type="text" class="form-control" [(ngModel)]="parapetAreSqf" id="parapetAreSqf"
                   (focusout)="sqftoSQ(parapetAreSqf,'parapetAreSqf');totalSQF()" placeholder="" name="parapetAreSqf">
          </div>
          <div class="form-group">
            <label for="rtuLFT">RTU's Linear Foot</label>
            <input type="number" class="form-control" [(ngModel)]="rtuLFT" id="rtuLFT" (focusout)="termBarCount(rtuLFT)"
                   placeholder="" name="rtuLFT">
          </div>
          <div class="form-group">
            <label for="outsideCorners">Outside Corners</label>
            <input type="number" class="form-control" [(ngModel)]="outsideCorners" id="outsideCorners"
                    placeholder="" name="outsideCorners">
          </div>

        </div>

        <div class="col-2">
          <div class="form-group">
            <label for="pitchPockets">Pitch Pockets</label>
            <input type="number" class="form-control" [(ngModel)]="pitchPockets" id="pitchPockets"
                 (focusout)="pitchPocketFillerCount()"   placeholder="" name="pitchPockets">
          </div>

          <div class="form-group">
            <label for="closeBoots">Close boots</label>
            <input type="number" class="form-control" [(ngModel)]="closeBoots" id="closeBoots"
                 (focusout)="bootSupplies()" placeholder="" name="closeBoots">
          </div>

          <div class="form-group">
            <label for="drains">Drains</label>
            <input type="number" class="form-control" [(ngModel)]="drains" id="drains"
                   placeholder="" name="drains">
          </div>
          <div class="form-group">
            <label for="vents">Vents</label>
            <input type="number" class="form-control" [(ngModel)]="vents" id="vents"
                   placeholder="" name="vents">
          </div>
          <div class="form-group">
            <label for="walkpads">Walkpads</label>
            <input type="number" class="form-control" [(ngModel)]="walkpadsLFT" id="walkpads"
                (focusout)="walkPadsToInstall()"    placeholder="" name="walkpads">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="copingMetalStretch">Copping metal stretch</label>
            <input type="number" class="form-control" [(ngModel)]="copingMetalStretch" id="copingMetalStretch"
                    placeholder=""
                   name="coppingMetalStretch">
          </div>
          <div class="form-group">
            <label for="copingMetalLFT">Copping Metal Linear foot</label>
            <input type="number" class="form-control" [(ngModel)]="copingMetalLFT" id="copingMetalLFT"
                  placeholder=""
                   name="coppingMetalLFT">
          </div>
          <div class="form-group">
            <label for="membraneStretch">Membrane Stretch</label>
            <input type="number" class="form-control" [(ngModel)]="membraneStretch" id="membraneStretch"
                  (focusout)="membraneStretchCount()" placeholder=""
                   name="membraneStretch">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="collectorHeadCount">Collector Heads Count</label>
            <input type="number" class="form-control" [(ngModel)]="collectorHeadCount" id="collectorHeadCount"
                    placeholder=""
                   name="collectorHeadCount">
          </div>
          <div class="form-group">
            <label for="downSpoutLFT">Down spout Lenght</label>
            <input type="number" class="form-control" [(ngModel)]="downSpoutLFT" id="downSpoutLFT" placeholder=""
                  name="downSpoutLFT">
          </div>
          <div class="form-group">
            <label for="splitBoots">Split Boots</label>
            <input type="number" class="form-control" [(ngModel)]="splitBoots" id="splitBoots" placeholder=""
                (focusout)="bootSupplies()"     name="splitBoots">
          </div>
        </div>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button type="button" class="btn btn-warning">Submit</button>
    </form>
  </div>









