<div class="container">
  <form class="forms-sample" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="fname" class="form-label">First Name</label>
      <input type="text" class="form-control" formControlName="fname" id="fname" autocomplete="off" placeholder="First Name">
    </div>
    <div class="mb-3">
      <label for="lname" class="form-label">Last Name</label>
      <input type="text" class="form-control" formControlName="lname" id="lname" autocomplete="off" placeholder="Last Name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email">
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" autocomplete="off" placeholder="Phone Number">
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">address</label>
      <input type="text" class="form-control" formControlName="address" id="address" autocomplete="off" placeholder="address">
    </div>
    <div class="mb-3">
      <label for="zip" class="form-label">zip</label>
      <input type="text" class="form-control" formControlName="zip" id="zip" autocomplete="off" placeholder="zip">
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" formControlName="city" id="city" autocomplete="off" placeholder="city">
    </div>
    <div class="mb-3">
      <label for="state" class="form-label">State</label>
      <input type="text" class="form-control" formControlName="state" id="state" autocomplete="off" placeholder="state">
    </div>

    <div class="mb-3">
      <label for="birthDay" class="form-label">Date of Birth</label>
      <input type="text" class="form-control" formControlName="birthDay" id="birthDay" autocomplete="off" placeholder="birthDay">
    </div>
    <div class="mb-3">
      <label for="jobTitle" class="form-label">Job Title </label>
      <input type="text" class="form-control" formControlName="jobTitle" id="jobTitle" autocomplete="off" placeholder=" jobTitle">
    </div>
    <div class="mb-3">
      <label for="demographicInfo" class="form-label">Demographic Information</label>
      <input type="text" class="form-control" formControlName="demographicInfo" id="demographicInfo" autocomplete="off" placeholder=" demographicInfo">
    </div>
    <div class="mb-3">
      <label for="companyName" class="form-label">Company Name</label>
      <input type="text" class="form-control" formControlName="companyName" id="companyName" autocomplete="off" placeholder="companyName">
    </div>
    <div class="mb-3">
      <label for="maritalStatus" class="form-label">Marital Status</label>
      <input type="text" class="form-control" formControlName="maritalStatus" id="maritalStatus" autocomplete="off" placeholder="maritalStatus">
    </div>

   <div class="mb-3">
      <label for="numberOfChildren" class="form-label"># Children</label>
      <input type="text" class="form-control" formControlName="numberOfChildren" id="numberOfChildren" autocomplete="off" placeholder="numberOfChildren">
    </div>

    <button type="submit" class="btn btn-primary me-2" >Submit</button>

  </form>

</div>
