<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Simple-datatables</h4>
        <p class=“text-muted”>Read the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank"> Official Simple-datatables Documentation </a>for a full list of instructions and other options.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Data Table</h6>
        <div class="table-responsive">
          <table id="dataTableExample" class="table">
            <thead>
            <tr>
              <td>id</td>
              <th>User</th>
              <th>Email</th>
              <th>Link description</th>
              <th>Url</th>
              <th> Name</th>
              <th>Type</th>
              <th>Notes</th>
              <th>User Name</th>
              <th>Password</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asset of assets ;index as i">
              <td><a routerLink="/admin/update" (click)="linksDataTransfer(asset)">{{asset.id}}</a></td>
              <td>{{asset.user}}</td>
              <td>{{asset.email}}</td>
              <td>{{asset.link}}</td>
              <td>{{asset.url}}</td>
              <td>{{asset.name}}</td>
              <td>{{asset.type}}</td>
              <td>{{asset.notes}}</td>
              <td>{{asset.userName}}</td>
              <td>{{asset.passwordLocation}}</td>
            </tr>


            </tbody>
            <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


